@model AspNetMvcFoad2025.Models.Colis

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Colis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodeColis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeColis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.libelleColis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelleColis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionColis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionColis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoidsColis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoidsColis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeColis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeColis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdColis }) |
    @Html.ActionLink("Back to List", "Index")
</p>
