@model AspNetMvcFoad2025.Models.Colis

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card shadow mb-4 p-4">
        <h4 class="mb-4">Colis</h4>
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.IdColis)

        <div class="mb-3">
            @Html.LabelFor(model => model.CodeColis, new { @class = "form-label" })
            @Html.EditorFor(model => model.CodeColis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CodeColis, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.libelleColis, new { @class = "form-label" })
            @Html.EditorFor(model => model.libelleColis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.libelleColis, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.DescriptionColis, new { @class = "form-label" })
            @Html.EditorFor(model => model.DescriptionColis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DescriptionColis, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.PoidsColis, new { @class = "form-label" })
            @Html.EditorFor(model => model.PoidsColis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PoidsColis, "", new { @class = "text-danger" })
        </div>

        <div class="mb-4">
            @Html.LabelFor(model => model.TypeColis, new { @class = "form-label" })
            @Html.EditorFor(model => model.TypeColis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TypeColis, "", new { @class = "text-danger" })
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 15px;">Enregistrer</button>
            <a href="@Url.Action("Index")" class="btn btn-secondary" style="width: auto;">Retour</a>
        </div>




    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



@*@model AspNetMvcFoad2025.Models.Colis

    @{
        ViewBag.Title = "Edit";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Colis</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdColis)

            <div class="form-group">
                @Html.LabelFor(model => model.CodeColis, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CodeColis, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CodeColis, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.libelleColis, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.libelleColis, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.libelleColis, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DescriptionColis, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DescriptionColis, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescriptionColis, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PoidsColis, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PoidsColis, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PoidsColis, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TypeColis, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TypeColis, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TypeColis, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
